##### Dictionary bersifat unordered, changeable and indexed

In [1]:
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

print(x)

{'nama': 'Budi', 'kota': 'jakarta', 'umur': 25}

In [5]:
#Access item
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
print(x["kota"])

jakarta

In [6]:
#Access item 2 (get)
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
print(x.get('nama') )

Budi

In [7]:
#Change item
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
x["nama"] = "anton"
print(x)

{'nama': 'anton', 'kota': 'jakarta', 'umur': 25}

In [8]:
# loop the dict
# print all the keys
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
for item in x:
  print(item)

nama
kota
umur

In [9]:
# loop the dict
# print all the values
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
for item in x:
  print(x[item])

Budi
jakarta
25

In [10]:
# loop the dict
# print all the values 2
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
for item in x.values():
  print(item)

Budi
jakarta
25

In [11]:
# loop the dict
# print all the keys and values
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
for a, b in x.items():
  print(a,b)

nama Budi
kota jakarta
umur 25

In [14]:
# check if the key is exist in the dictionary
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

if "nama" in x:
    print("Yes")
else:
    print('No')

Yes

In [18]:
# length
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25
}

print(len(x))

3

In [19]:
#add item
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
x['tinggi'] = 165

print(x)

{'nama': 'Budi', 'kota': 'jakarta', 'umur': 25, 'tinggi': 165}

In [20]:
#pop
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

x.pop('nama')

print(x)

{'kota': 'jakarta', 'umur': 25}

In [21]:
#popitem
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

x.popitem()

print(x)

{'nama': 'Budi', 'kota': 'jakarta'}

In [22]:
#delete
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

del x

print(x)

NameError: name 'x' is not defined

In [23]:
#clear
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}

x.clear()

print(x)

{}

In [24]:
#copy 
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
y = x.copy()
print(y)

{'nama': 'Budi', 'kota': 'jakarta', 'umur': 25}

In [25]:
#copy 2
x = {
  "nama": "Budi",
  "kota": "jakarta",
  "umur": 25,
}
y = dict(x)
print(y)

{'nama': 'Budi', 'kota': 'jakarta', 'umur': 25}

In [26]:
# Nested Dictionary
x = {
    "siswa_1":{
      "nama": "Budi",
      "kota": "Jakarta",
      "umur": 25,
    },
    "siswa_2":{
      "nama": "Anton",
      "kota": "Bandung",
      "umur": 20,
    },
}

print(x)

{'siswa_1': {'nama': 'Budi', 'kota': 'Jakarta', 'umur': 25}, 'siswa_2': {'nama': 'Anton', 'kota': 'Bandung', 'umur': 20}}

In [30]:
# Accessing the Nested Dictionary
x = {
    "siswa_1":{
      "nama": "Budi",
      "kota": "Jakarta",
      "umur": 25,
    },
    "siswa_2":{
      "nama": "Anton",
      "kota": "Bandung",
      "umur": 20,
    },
}

print(x["siswa_1"]["nama"])

Budi